body{
	font-family: sans-serif;
	background: #f0f2f5;
}
h2{
	position: relative;
	top: -270px;
	left: 270;
}
img{
	position: relative;
	top: -200px;
	left: 250px;
}

#block{
	position: relative;
	top: 220px;
	left: 180px;
	border-radius: 5px;
	background: white;
	color: white
}

#username{
	position: relative;
	top: -450px;
	left: 850px;
    width: 350px;
    padding: 20px;
    border: 1px solid #dddfe2;
    border-radius: 10px;
}
#password{
	position: relative;
	top: -450px;
	left: 850px;
    width: 350px;
    padding: 20px;
    border: 1px solid #dddfe2;
    border-radius: 5px;
}
#loginbtn{
	position: relative;
	top: -450px;
	left: 850px;
    width: 395px;
    padding: 20px;
    border: 1px solid rgba(147, 184, 189,0.8);
    border-radius: 5px;
    color: white;
    background: #1877f2;
    font-weight: bold;
    font-size: 17px;
}
#forgotbtn{
	position: relative;
	top: -450px;
	left: 970px;
    width: 395px;
    padding: 20px;
    color: #1877f2;  
}

#line{
	position: relative;
	top: -450px;
	left: 860px;
}

#registationbtn{
	position: relative;
	top: -450px;
	left: 920px;
    width: 260px;
    padding: 20px;
    border: 1px solid rgba(147, 184, 189,0.8);
    border-radius: 5px;
    color: white;
    background: #42b72a;
    display: inline-block;
    font-weight: bold;
    font-size: 17px;
}
#text{
	position: relative;
	top: -450px;
	left: 865px;
	font-size: 14px;
}
#footer{
	position: relative;
	top: -300px;
	left: 230px;
  	font-size: 14px;
    color: gray;  
}
#line2{
	position: relative;
	top: -290px;
	left: 270px;
}